<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <table id="paginationSimpleNumbers" class="table" width="100%">
        <thead>
          <tr>
            <th class="th-sm">Firstname</th>
            <th class="th-sm">Lastname</th>
            <th class="th-sm">Email</th>
            <th class="th-sm">Phonenumber</th>
            <th class="th-sm">Location</th>
            <th class="th-sm">Status</th>
            <th class="th-sm">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% applications.forEach((data) => { %>
            <tr id=<% data.id %>>
              <td><%= data.firstName%></td>
              <td><%= data.lastName%></td>
              <td><%= data.email%></td>
              <td><%= data.phoneNumber%></td>
              <td><%= data.location%></td>
              <td><%= data.status%></td>
              <td>
                  <a type="button" class="btn btn-primary" href="applications/<%= data.id%>/cv">View</a>
                  <a type="button" class="btn btn-success" href="applications/<%= data.id%>?status=accepted">Accept</a>
                  <a type="button" class="btn btn-danger" href="applications/<%= data.id%>?status=rejected">Reject</a>
              </td>
            </tr>
         <% }); %>
        </tbody>
        <tfoot>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phonenumber</th>
            <th>Location</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

